<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Montse Fernandez</title>
        <link rel="stylesheet" href="assets/css/minified.css">
        <link rel="shortcut icon" href="assets/images/logo/logo2.png" type="image/x-icon">
    </head>

    <body>
        <!--============= ScrollToTop Section Starts Here =============-->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <a href="#0" class="scrollToTop">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path fill="#ffffff" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg>
        </a>
        <!--============= ScrollToTop Section Ends Here =============-->

        <header class="header-section header-cl-black">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logo2.png" alt="logo">
                        </a>
                    </div>
                    <ul class="menu">
                        <li>
                            <a href="#inicio">Début</a>
                        </li>
                        <li>
                            <a href="#feature">Sur</a>
                        </li>
                        <li>
                            <a href="#testimonios">Témoignages</a>
                        </li>
                        <li>
                            <a href="#contacto">Contact</a>
                        </li>
                        <li class="d-sm-none" style="display: flex; justify-content:center; align-items:center;gap:20px">
                            <a href="https://mydailychoice.com/montse" class="m-0 header-button">Visitez ma boutique virtuelle</a>
                            <div class="idiomas-banderas-2">
                                <a href="/it">
                                    <img src="./assets/images/italia.png" alt="">
                                </a>
                                |
                                <a href="/">
                                    <img src="./assets/images/españa.jpg" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header-right">
                        <a href="https://mydailychoice.com/montse" class="header-button d-none d-sm-inline-block">Visitez ma boutique virtuelle</a>
                    </div>
                    <div class="idiomas-banderas">
                        <a href="/it">
                            <img src="./assets/images/italia.png" alt="">
                        </a>
                        |
                        <a href="/">
                            <img src="./assets/images/españa.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!--============= Header Section Ends Here =============-->


        <!--============= Banner Section Starts Here =============-->
        <section class="banner-4 bg_img oh bottom_left" data-background="assets/images/banner/banner-bg-4.png" id="inicio">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="banner-content-3">
                            <h1 class="title">Votre beauté et votre bien-être sont nos soins</h1>
                            <p>
                                L'expérience de magasinage que vous attendiez.
                            </p>
                            <div class="banner-button-group">
                                <a href="https://mydailychoice.com/montse" class="button-4">Visitez ma boutique virtuelle</a>
                                <a class="button-41" href="https://wa.link/zgk1qa" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" fill="white" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/></svg></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="banner-nav-container bg_img bg_contain bottom_center" data-background="assets/images/banner/banner-4.png">
                            <a href="https://mydailychoice.com/montse" target="_blank" class="banner-4-slider owl-theme owl-carousel">
                                <div class="slide-item bg_img" data-background="assets/images/montse-fr.png">
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="banner-odometer">
                            <div class="counter-item">
                                <div class="counter-thumb">
                                    <img src="assets/images/icon/counter1.png" alt="icon">
                                </div>
                                <div class="counter-content">
                                    <h2 class="title"><span class="counter">1750</span></h2>
                                    <span>Utilisateurs</span>
                                </div>
                            </div>
                            <div class="counter-item">
                                <div class="counter-thumb">
                                    <img src="assets/images/icon/counter2.png" alt="icon">
                                </div>
                                <div class="counter-content">
                                    <h2 class="title"><span class="counter">987</span></h2>
                                    <span>Visiteurs quotidiens</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--============= Banner Section Ends Here =============-->


        <!--============= Exclusive Section Starts Here =============-->
        <section class="exclusive-section padding-bottom-2 padding-top oh" id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-xl-6">
                        <div class="section-header left-style">
                            <h5 class="cate">Qui suis-je?</h5>
                            <p style="text-align: justify;">
                                Bonjour, je suis Montse Fernandez, votre conseillère bien-être et beauté. J'ai plusieurs années d'expérience dans l'utilisation de produits pour améliorer votre qualité de vie afin que vous puissiez vous sentir bien physiquement et mentalement.
                            </p>
                            <p style="text-align: justify;">
                                Contactez-moi pour vous aider à réaliser cette transformation avec les produits les plus révolutionnaires du marché, scientifiquement réglementés et certifiés.
                            </p>
                        </div>
                        <div class="row mb--20">
                            <div class="col-sm-6">
                                <div class="exclusive-item">
                                    <div class="exclusive-thumb">
                                        <img src="assets/images/feature/01.png" alt="feature">
                                    </div>
                                    <div class="exclusive-content">
                                        <h6 class="title">Attention personnelle</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="exclusive-item">
                                    <div class="exclusive-thumb">
                                        <img src="assets/images/feature/02.png" alt="feature">
                                    </div>
                                    <div class="exclusive-content">
                                        <h6 class="title">Équilibré</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="exclusive-item">
                                    <div class="exclusive-thumb">
                                        <img src="assets/images/feature/03.png" alt="feature">
                                    </div>
                                    <div class="exclusive-content">
                                        <h6 class="title">Qualité</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="exclusive-item">
                                    <div class="exclusive-thumb">
                                        <img src="assets/images/feature/04.png" alt="feature">
                                    </div>
                                    <div class="exclusive-content">
                                        <h6 class="title">Données sécurisées</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="exclusive-item">
                                    <div class="exclusive-thumb">
                                        <img src="assets/images/feature/05.png" alt="feature">
                                    </div>
                                    <div class="exclusive-content">
                                        <h6 class="title">Accès rapide</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="exclusive-item">
                                    <div class="exclusive-thumb">
                                        <img src="assets/images/feature/06.png" alt="feature">
                                    </div>
                                    <div class="exclusive-content">
                                        <h6 class="title">Moyen 24/7</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 d-lg-block d-none">
                        <div class="feature-1-thumb mt-0 ex-feature">
                            <img src="assets/images/feature/feature02.png" alt="feature">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--============= Exclusive Section Ends Here =============-->


        <!--============= Colaboration Section Starts Here =============-->
        <section class="colaboration-section padding-top-2 padding-bottom-2 oh" id="screenshot">
            <div class="container">
                <div class="row align-items-center flex-wrap-reverse">
                    <div class="col-lg-6 col-xl-7 rtl">
                        <div class="collaboration-anime-area">
                            <div class="main-thumb">
                                <img src="assets/images/collaboration/main.png" alt="colaboration">
                            </div>
                            <div class="mobile wow slideInUp" data-wow-delay="1s">
                                <div class="show-up">
                                    <img src="assets/images/collaboration/mobile.png" alt="colaboration">
                                </div>
                                <div class="mobile-slider owl-theme owl-carousel ltr">
                                    <div class="mobile-item bg_img" data-background="assets/images/collaboration/screen1.jpeg"></div>
                                </div>
                            </div>
                            <div class="girl wow slideInLeft">
                                <img src="assets/images/collaboration/girl.png" alt="colaboration">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <div class="section-header left-style">
                            <h5 class="cate">Portefeuille de produits</h5>
                            <h2 class="title">Diversité</h2>
                            <p style="text-align: justify;">
                                MyDailyChoice est une entreprise leader dans le domaine des produits de santé et de bien-être et compte sur la conseillère Montse Fernández pour vous offrir une expérience exceptionnelle dans sa boutique virtuelle. Ils proposent une large gamme de produits conçus pour améliorer votre qualité de vie et votre bien-être général.
                            </p>
                            <p style="text-align: justify;">
                                Au sein de leur vaste gamme de produits, vous trouverez des options allant des suppléments nutritionnels aux produits de soins de la peau, tous formulés avec des ingrédients de haute qualité et soutenus par les dernières recherches en matière de nutrition et de santé. Montse Fernández vous guidera à travers cette gamme diversifiée pour vous aider à trouver les produits qui correspondent le mieux à vos besoins et à vos objectifs de bien-être.
                            </p>
                            <p style="text-align: justify;">
                                L'un des produits vedettes de MyDailyChoice est leur café minceur. Ce café est formulé pour vous donner l'énergie dont vous avez besoin pour affronter vos activités quotidiennes, en plus de contenir des ingrédients qui soutiennent votre santé et votre bien-être en général. Montse Fernández peut vous fournir des informations détaillées sur ce café et sur les avantages qu'il peut vous apporter dans votre vie quotidienne.
                            </p>
                        </div>
                        <div class="colaboration-wrapper">
                            <div class="colaboration-slider owl-carousel owl-theme">
                                <div class="colaboration-item">
                                    <div class="colaboration-thumb">
                                        <div class="icon" style="display: flex;justify-content:center;align-items:center">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 512 512"><path fill="#ffffff" d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
                                        </div>
                                    </div>
                                    <div class="colaboration-content">
                                        <h4 class="title">Gestion facile de vos achats et de vos données</h4>
                                        <p style="text-align: justify;">
                                            Nous garantissons un processus d'achat plus rapide et plus simple que dans n'importe quelle autre boutique en ligne.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--============= Colaboration Section Ends Here =============-->


        <!--============= Newslater Section Starts Here =============-->
        <section class="newslater-section oh subscribe-pt">
            <div class="bg_img right_center" data-background="assets/images/bg/newslater.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="rtl subscribe-thumb">
                                <img src="assets/images/newslater/newslater1.png" alt="newslater">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="newslater-area padding-bottom padding-top">
                                <div class="section-header left-style cl-white">
                                    <h5 class="cate">Soyez le premier à savoir</h5>
                                    <h2 class="title">De nouvelles offres chaque jour</h2>
                                    <p style="text-align: justify;">
                                        Notre large gamme d'articles est constamment renouvelée, vous trouverez donc toujours de nouveaux produits adaptés à votre style et à vos besoins. Prêt à découvrir les nouveautés d'aujourd'hui ?
                                    </p>
                                    <a href="https://mydailychoice.com/montse" class="button-4">Visitez ma boutique virtuelle</a>
                                    <a class="button-41" href="https://wa.link/zgk1qa" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" fill="white" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/></svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--============= Newslater Section Ends Here =============-->


        <!--============= Coverage Section Starts Here =============-->
        <section class="coverage-section padding-top padding-bottom-2" id="coverage">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="section-header left-style coverage-header">
                            <h5 class="cate">Quelques unes de nos statistiques</h5>
                            <h2 class="title">Boutique en ligne sans frontières</h2>
                            <p style="text-align: justify;">
                                Nous grandissons de mois en mois, atteignant de nouveaux clients et atteignant de nouveaux pays, offrant des produits de la meilleure qualité à nos clients de différentes parties du monde.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="coverage-wrapper bg_img" data-background="assets/images/bg/world-map.png">
                    <div class="border-item-1">
                        <span class="name">Amérique du Nord</span>
                        <h2 class="title">8.4%</h2>
                    </div>
                    <div class="border-item-2">
                        <span class="name">Asie</span>
                        <h2 class="title">14.4%</h2>
                    </div>
                    <div class="border-item-3" style="margin-top: 40px;">
                        <span class="name">L'Europe </span>
                        <h2 class="title">70.7%</h2>
                    </div>
                    <div class="border-item-4">
                        <span class="name">Amérique du Sud</span>
                        <h2 class="title">1.8%</h2>
                    </div>
                    <div class="border-item-5">
                        <span class="name">Afrique</span>
                        <h2 class="title">1.8%</h2>
                    </div>
                    <div class="border-item-6">
                        <span class="name">Australie</span>
                        <h2 class="title">3%</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--============= Coverage Section Ends Here =============-->


        <!--============= Testimonial Section Starts Here =============-->
        <section class="testimonial-section padding-top-2" id="testimonios">
            <div class="container">
                <div class="section-header">
                    <h5 class="cate">Témoignages</h5>
                    <h2 class="title">900+ Des clients satisfaits dans le monde entier</h2>
                </div>
                <div class="testimonial-wrapper">
                    <a href="#0" class="testi-next trigger">
                        <img src="assets/images/client/left.png" alt="client">
                    </a>
                    <a href="#0" class="testi-prev trigger">
                        <img src="assets/images/client/right.png" alt="client">
                    </a>
                    <div class="testimonial-area testimonial-slider owl-carousel owl-theme">
                        <div class="testimonial-item">
                            <div class="testimonial-thumb">
                                <div class="thumb">
                                    <img src="assets/images/client/militza.jpeg" alt="client">
                                </div>
                            </div>
                            <div class="testimonial-content">
                                <div class="ratings">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                </div>
                                <p style="text-align: justify;">
                                    Je suis ravie de travailler avec Montse pour son attention et ses produits, ils m'aident beaucoup avec mon poids et me maintiennent super active. Un grand plaisir et un plaisir de traiter avec elle et ses produits.
                                </p>
                                <h5 class="title"><a href="#0">Militza</a></h5>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-thumb">
                                <div class="thumb">
                                    <img src="assets/images/client/raismar.jpg" alt="client">
                                </div>
                            </div>
                            <div class="testimonial-content">
                                <div class="ratings">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                </div>
                                <p style="text-align: justify;">
                                    Grâce à Montse Products, j'ai réussi à contrôler mon poids et cela me donne beaucoup de force de pouvoir travailler et étudier en même temps. J'investis dans ma santé et mon bien-être pour me sentir mieux, et je recommande à 100% Montse comme coach et guide pour vous motiver chaque jour à suivre les routines de consommation de ces produits.
                                </p>
                                <h5 class="title"><a href="#0">Raismar</a></h5>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-thumb">
                                <div class="thumb">
                                    <img src="assets/images/client/gina.jpeg" alt="client">
                                </div>
                            </div>
                            <div class="testimonial-content">
                                <div class="ratings">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                </div>
                                <p style="text-align: justify;">
                                    Grâce à Montse et aux produits qu'elle recommande, j'ai réussi à perdre 6 kg de mon poids. Je me sens beaucoup mieux et je suis super contente du traitement que j'ai reçu.
                                </p>
                                <h5 class="title"><a href="#0">Gina</a></h5>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-thumb">
                                <div class="thumb">
                                    <img src="assets/images/client/agueda.jpeg" alt="client">
                                </div>
                            </div>
                            <div class="testimonial-content">
                                <div class="ratings">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path fill="#e1ff00" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                                </div>
                                <p style="text-align: justify;">
                                    La rencontre avec Montse a été le début d'un changement radical dans ma façon de gérer ma santé et mon bien-être. J'ai réussi à contrôler mon poids, et demander à Montse de veiller sur moi jour après jour et de me motiver est quelque chose qui n'a pas de prix. Merci.
                                </p>
                                <h5 class="title"><a href="#0">Agueda</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="testimonial-section padding-top-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="section-header left-style coverage-header">
                            <h5 class="cate">Section commentaires</h5>
                            <h2 class="title">laisse ton commentaire</h2>
                        </div>
                    </div>
                </div>
                <form action="/" method="post">
                    <label for="escritoPor">Nom:</label>
                    <input type="text" id="escritoPor" name="escritoPor" placeholder="Ton nom" required>
        
                    <label for="contenido">Commentaire:</label>
                    <textarea id="contenido" name="contenido" placeholder="Écrivez votre commentaire" rows="4" required></textarea>
        
                    <button type="submit">Envoyer le commentaire</button>
                </form>
                <div id="contenedor-comentarios" class="comment-section">
                    
                </div>
            </div>
        </section>
        <!--============= Footer Section Starts Here =============-->
        <footer id="contacto" class="footer-section bg_img" data-background="assets/images/footer/footer-bg.jpg" style="margin-top: 50px;">
            <div class="container">
                <div class="footer-top padding-top padding-bottom">
                    <div class="logo">
                        <a href="#0">
                            <img src="assets/images/logo/footer-logo.png" alt="logo">
                        </a>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a style="display: flex;justify-content: center; align-items: center" href="https://www.facebook.com/montse.fernandez.12327" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><path fill="#ffffff" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>
                            </a>
                        </li>
                        <li>
                            <a style="display: flex;justify-content: center; align-items: center" href=" https://www.instagram.com/montse_fernandezf/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path fill="#ffffff" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg></a>
                        </li>
                        <li>
                            <a href="https://www.tiktok.com/@montse_fernandezf" target="_blank"><svg style="margin-top: -4px;" fill="white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/></svg></a>
                        </li>
                        <li>
                            <a href="https://wa.link/zgk1qa" target="_blank"><svg style="margin-top: -4px;" fill="white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <ul class="footer-link">
                        <li>
                            <a href="#0">Conditions d'utilisation</a>
                        </li>
                        <li>
                            <a href="#0">Confidentialité</a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>
                        Copyright © 2023.Tous droits réservés <a href="#0">Montse Fernandez</a>
                    </p>
                </div>
                <div class="copyright">
                    <p>
                        Web Design <a target="_blank" href="https://devologic3.com">Devologic3</a> y <a target="_blank" href="https://orbe-studio.com">Orbe Studio</a>
                    </p>
                </div>
            </div>
        </footer>
        
        <script src="assets/js/minified.js"></script>
        <script src="assets/js/main.js"></script>
        <script>
            // Realizar la solicitud GET a la API
            fetch('https://www.montsefernandez.es/comentarios')
                .then(response => {
                    // Verificar si la solicitud fue exitosa (código de estado 200)
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    // Parsear la respuesta como JSON
                    return response.json();
                })
                .then(data => {
                    // Obtener el contenedor donde se agregarán los comentarios
                    const contenedorComentarios = document.getElementById('contenedor-comentarios');
    
                    // Función para crear y agregar un comentario al contenedor
                    function agregarComentario(container, comentario) {
                        const nuevoComentario = document.createElement('div');
                        nuevoComentario.className = 'comentario';
    
                        nuevoComentario.innerHTML = `
                            <div class="comment">
                                <div class="comment-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                                        <path fill="#8c20c5" d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/>
                                    </svg>
                                </div>
                                <div class="comment-content">
                                    <p>${comentario.contenido}</p>
                                </div>
                            </div>
                            <div class="comment-content escritoPor">
                                <p>${comentario.escritoPor}</p>
                            </div>
                        `;
    
                        container.appendChild(nuevoComentario);
                    }
    
                    // Recorrer el arreglo de datos y agregar cada comentario al contenedor
                    data.comentarios.forEach(comentario => {
                        agregarComentario(contenedorComentarios, comentario);
                    });
                })
                .catch(error => {
                    // Capturar y mostrar errores en la consola
                    console.error('Fetch error:', error);
                });
        </script>
    </body>
</html>